/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_01/dist/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication_02/dist/
/WebApplication_03a/nbproject/private/
/WebApplication_03a/build/
/WebApplication_03a/dist/
/WebApplication_03b/nbproject/private/
/WebApplication_03b/build/
/WebApplication_03c/nbproject/private/
/WebApplication_03c/build/
/WebApplication_03d/nbproject/private/
/WebApplication_03d/build/
/WebApplication_04a/nbproject/private/
/WebApplication_4b/nbproject/private/
/WebApplication_5a/nbproject/private/
/WebApplication_5a/build/
/WebApplication_07_JSP_a/nbproject/private/
/WebApplication_07_JSP_a/build/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_07_JSP_b/build/
/WebApplication_8/nbproject/private/
/WebApplication_8/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_10/build/
/WebApplication_10/nbproject/private/
/DesertFlowersManagement/nbproject/private/
/DesertFlowersManagement/build/
/DesertRoseManagement/nbproject/private/
/DesertRoseManagement/build/
/WebApplication_11 - Copy/build/
/WebApplication_11 - Copy/nbproject/private/
/WebApplication_12/build/
/WebApplication_12/nbproject/private/
/Workshop1/nbproject/private/
/Workshop1/build/
/Workshop1/dist/
/Workshop/nbproject/private/
/Workshop/build/
/WebApplication_14/nbproject/private/
/WebApplication_14/build/
/WebApplication_14/dist/